baseURL = "https://devopsish.com/"
copyright = "[Some rights reserved](https://devopsish.com/cc-by-sa-4.0/) | [Terms](https://devopsish.com/terms/) | [Privacy](https://devopsish.com/privacy/) | [Partners](https://devopsish.com/partners/) | [Sponsor](https://devopsish.com/sponsor/) | [Subscribe](https://devopsish.com/subscribe/)"
enableEmoji = true
enableRobotsTXT = true
# googleAnalytics = "UA-4498776-13"
languageCode = "en-us"
metaDataFormat = "toml"
newContentEditor = "code"
paginate = 10
relativeURLs = true
theme = "hugo-theme-bootstrap4-blog"
title = "DevOps'ish"
disableKinds = ["RSS"]

[taxonomies]
  tag = "tags"
  category = "categories"

[permalinks]
  post = ":slug/"
  page = ":slug/"

[params]
  author = "Chris Short"
  description = "DevOps, Cloud Native, Open Source, industry news, and the 'ish between."
  favicon = "/favicons/favicon.ico"
  disable_sri = true

  [params.sidebar]
    About = "DevOps'ish is a weekly newsletter assembled by open source professional, DevOps leader, and Cloud Native Computing Foundation (CNCF) Ambassador [Chris Short](https://chrisshort.net/)."
    num_recent_posts = 8

  [params.stats]
    subscribers = "4,234"
#    avg_open_rate = "48%"
#    avg_click_rate = "21%"

[Author]
  name = "Chris Short"

[privacy]
  [privacy.disqus]
    disable = true
  [privacy.googleAnalytics]
    disable = true
  [privacy.instagram]
    disable = false
    simple = false
  [privacy.twitter]
    disable = false
    enableDNT = true
    simple = false
  [privacy.vimeo]
    disable = false
    simple = false
  [privacy.youtube]
    disable = false
    privacyEnhanced = true