baseURL = "https://devopsish.com"
title = "DevOps'ish"
author = "Chris Short"
theme = "paper"
paginate = 5
metaDataFormat = "toml"
newContentEditor = "code"
languageCode = "en"
DefaultContentLanguage = "en"
# prevent build failures when using Hugo's Instagram shortcode due to deprecated Instagram API.
# See https://github.com/gohugoio/hugo/issues/7228#issuecomment-714490456
# Works for missing Tweets as well
ignoreErrors = ["error-remote-getjson"]
disableKinds = ["RSS"]
enableEmoji = true
enableInlineShortcodes = true
enableGitInfo = true
summaryLength = 160
ignoreFiles = ['notes.md']

# ------------------------------
[outputs]
   home = [ "HTML", "JSON" ]

[params]
  author = "Chris Short"
  description = "Cloud Native, DevOps, GitOps, Open Source, industry news, culture, and the 'ish between."
  reddit = "/r/devopsish/"
  twitter = "ChrisShort"
  github = "chris-short/devopsish.com"
  linkedin = "/in/thechrisshort/"
  disableHLJS = "true"
  ShowCodeCopyButtons = "true"
  defaultTheme = "light"
  disableThemeToggle = "true"
  ShowWordCount = "true"
  ShowRssButtonInSectionTermList = "true"
  ShowShareButtons = "true"

  [params.stats]
    subscribers = "6,100+"
#    avg_open_rate = "48%"
#    avg_click_rate = "21%"

[imaging]
resampleFilter = "box"
anchor = "smart"
# Hugo will preserve transparency for target formats that supports it,
# but will fall back to this color for JPEG.
# Expects a standard HEX color string with 3 or 6 digits.
# See https://www.google.com/search?q=color+picker
bgColor = "#ffffff"
# Hugo extracts the "photo taken where" (GPS latitude and longitude) into
# .Long and .Lat. Set this to true to turn it off.
# Default background color.
disableLatLong = true
  [imaging.exif]
  # Regexp matching the fields you want to Exclude from the (massive) set of Exif info
  # available. As we cache this info to disk, this is for performance and
  # disk space reasons more than anything.
  # If you want it all, put ".*" in this config setting.
  # Note that if neither this or ExcludeFields is set, Hugo will return a small
  # default set.
  includeFields = ""
# ------------------------------

[menu]

  [[menu.main]]
    identifier = "subscribe"
    name = "Subscribe"
    url = "/subscribe/"
    weight = 1

  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 10

  [[menu.main]]
    identifier = "praise"
    name = "Praise"
    url = "/praise/"
    weight = 98

  [[menu.main]]
    identifier = "search"
    name = "Search"
    url = "/search/"
    weight = 99

[taxonomies]
  category = "categories"
  tag = "tags"

[permalinks]
  post = ":slug/"
  page = ":slug/"

[privacy]
  [privacy.disqus]
    disable = true
  [privacy.googleAnalytics]
    disable = true
  [privacy.instagram]
    disable = false
    simple = false
  [privacy.twitter]
    disable = false
    enableDNT = true
    simple = false
  [privacy.vimeo]
    disable = false
    simple = false
  [privacy.youtube]
    disable = false
    privacyEnhanced = true

[services]
  [services.instagram]
    disableInlineCSS = true
  [services.twitter]
    disableInlineCSS = true