[build]
publish = "public"
command = "hugo --minify --verbose --enableGitInfo"

[context.production.environment]
HUGO_VERSION = "0.102.3"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[context.split1]
command = "git submodule update --rebase --remote && hugo --verbose --minify --enableGitInfo"

[context.split1.environment]
HUGO_VERSION = "0.102.3"
HUGO_ENV = "production"

[context.deploy-preview]
command = "git submodule update --rebase --remote && hugo -DF --verbose --enableGitInfo"
[context.deploy-preview.environment]
HUGO_VERSION = "0.102.3"
# Skip all post processing in deploy previews,
# ignoring any other settings
[context.deploy-preview.processing]
  skip_processing = true

[context.branch-deploy]
command = "git submodule update --rebase --remote && hugo -DF --verbose --enableGitInfo"
[context.branch-deploy.environment]
HUGO_VERSION = "0.102.3"

[context.next.environment]
HUGO_ENABLEGITINFO = "true"

# https://docs.netlify.com/configure-builds/file-based-configuration/#post-processing
# If skip_processing = true, all other settings are ignored
[build.processing]
  skip_processing = false
[build.processing.css]
  bundle = true
  minify = true
[build.processing.js]
  bundle = true
  minify = true
[build.processing.html]
  pretty_urls = false
[build.processing.images]
  compress = true

[[redirects]]
  from = "https://devopsish.netlify.app/*"
  to = "https://devopsish.com/:splat"
  status = 301
  force = true

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = 'https://devopsish.com'
    Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
    Referrer-Policy = 'no-referrer-when-downgrade'
    Strict-Transport-Security = 'max-age=63072000; includeSubDomains; preload'
    X-Content-Type-Options = 'nosniff'
    X-Frame-Options = 'DENY'
    X-XSS-Protection = '1; mode=block'