<p><strong>DevOps'ish</strong> is a weekly newsletter assembled by open source contributor, DevOps leader, and Cloud Native Computing Foundation (CNCF) Ambassador <a href="https://chrisshort.net/">Chris Short</a>. Join the {{ .Site.Params.stats.subscribers | markdownify }} member community and subscribe now!</p>

<div style="text-align: center;">
  <form action="https://buttondown.email/api/emails/embed-subscribe/ChrisShort" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/ChrisShort', 'popupwindow') & window.fathom.trackGoal('6RFHTA9N', 0);" class="embeddable-buttondown-form">
    <label for="bd-email"><strong>Enter your email</strong></label>
    <input type="email" name="email" id="bd-email"></input>
    <input type="hidden" value="1" name="embed"></input>
    <input type="submit" style="color:#FFFFFF; background-color:#FF5817;" value="Subscribe"></input>
  </form>
</div>
