{{- /* Head custom content area start */ -}}

<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/script.js" data-site="ACMUYZFW" defer></script>
<!-- / Fathom -->

<link rel="webmention" href="https://webmention.io/devopsish.com/webmention" />

<a rel=me href="https://github.com/chris-short"></a>
<a rel=me href="https://www.linkedin.com/in/thechrisshort"></a>
<a rel=me href="https://bsky.app/profile/chrisshort.net"></a>
<a rel=me href="https://x.com/ChrisShort"></a>
<a rel=me href="https://hachyderm.io/@ChrisShort>"></a>
<a rel=me href="https://www.instagram.com/thechrisshort/"></a>
<a rel=me href="https://www.youtube.com/c/ChrisShort"></a>
<a rel=me href="https://www.tiktok.com/@chrisshort.net"></a>
<a rel=me href="https://www.flickr.com/photos/chris-short/"></a>
<a rel=me href="https://www.goodreads.com/user/show/38034985-chris-short"></a>

{{- /* Head custom content area end */ -}}
