<link href="/css/carbon.css" rel="stylesheet" type="text/css">
<!-- START - We recommend to place the below code in head tag of your website html  -->
<style>
  @font-face {
    font-display: block;
    font-family: Roboto;
    src: url(https://devopsish.com/fonts/7529907e9eaf8ebb5220c5f9850e3811.woff2) format("woff2"), url(https://devopsish.com/fonts/25c678feafdc175a70922a116c9be3e7.woff) format("woff")
  }

  @font-face {
    font-display: fallback;
    font-family: Roboto;
    font-weight: 600;
    src: url(https://devopsish.com/fonts/6e9caeeafb1f3491be3e32744bc30440.woff2) format("woff2"), url(https://devopsish.com/fonts/71501f0d8d5aa95960f6475d5487d4c2.woff) format("woff")
  }

  @font-face {
    font-display: fallback;
    font-family: Roboto;
    font-weight: 700;
    src: url(https://devopsish.com/fonts/3ef7cf158f310cf752d5ad08cd0e7e60.woff2) format("woff2"), url(https://devopsish.com/fonts/ece3a1d82f18b60bcce0211725c476aa.woff) format("woff")
  }

  #sib-container input:-ms-input-placeholder {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    color: #c0ccda;
  }

  #sib-container input::placeholder {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    color: #c0ccda;
  }

  #sib-container textarea::placeholder {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    color: #c0ccda;
  }
</style>
<link rel="stylesheet" href="/css/build/sib-styles.css">
<!--  END - We recommend to place the above code in head tag of your website html -->

<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/script.js" site="ACMUYZFW" defer></script>
<!-- / Fathom -->