<p><a href="/subscribe/" title="Subscribe"><strong>Subscribe to DevOps'ish</strong></a> for updates on DevOps, Cloud Native, and Open Source news.</p>

<p><a href="/jobs/" title="Jobs"><strong>Jobs</strong></a>: Looking for work? Look here first!</p>

<p><a href="/events/" title="Events"><strong>Events</strong></a>: DevOps, Cloud Native, and Open Source Events from around the world!</p>

<p><a href="https://t.me/devopsish" title="DevOps'ish on Telegram"><strong>Join the DevOps'ish group on Telegram</strong></a></p>

<p><a href="mailto:?subject=Check out this post by {{ .Params.author }}&body={{ .Permalink }}" title="E-mail"><strong>E-mail this to a friend!</strong></a></p>