<hr />

<h3 id="thankyou">Thanks for Reading!</h3>

<p><a href="/subscribe/" title="Subscribe to DevOps'ish">Tell your friends</a> to subscribe today. <a href="/subscribe/" title="Subscribe to DevOps'ish">Drop a link</a> in your company Slack on Monday morning. I’d like to do some big things in 2019 that require capital. "Mo’ subscriber’s, mo’ <a href="/sponsor/" title="Sponsor DevOps'ish">sponsors</a>." — Notorious B.I.G. (or someone like that).</p>

<p>Don't have a Slack, Telegram, WeChat or anywhere el to get insightful perspective about tech in? <a href="https://t.me/devopsish" title="DevOps'ish on Telegram">Join the DevOps'ish group on Telegram!</a></p>