  <section>
    <h4>{{ i18n "share" }}</h4>
    <nav class="nav sharing-icons">
      <a class="nav-item" href="https://news.ycombinator.com/submitlink?u={{ .Permalink }}&t={{ .Title }}" target="_blank" title="Share on Hacker News"><span class="fa fa-hacker-news fa-lg" aria-hidden="true"></span></a>
      <a class="nav-item" href="https://reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" title="Share on Reddit"><span class="fa fa-reddit-alien fa-lg" aria-hidden="true"></span></a>
      <a class="nav-item" href="https://twitter.com/home?status={{ .Permalink }}" target="_blank" title="Tweet this"><span class="fa fa-twitter fa-lg"></span></a>
      <a class="nav-item" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}" target="_blank" title="Share on LinkedIn"><span class="fa fa-linkedin fa-lg" aria-hidden="true"></span></a>
      <a class="nav-item" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" title="Share on Facebook"><span class="fa fa-facebook fa-lg" aria-hidden="true"></span></a>
      <a class="nav-item" href="https://telegram.me/share/url?url={{ .Permalink }}&text={{ .Title }}" target="_blank" title="Share on Telegram"><span class="fa fa-telegram fa-lg" aria-hidden="true"></span></a>
      <a class="nav-item" href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank" title="Share on Google+"><span class="fa fa-google-plus fa-lg" aria-hidden="true"></span></a>
      <a class="nav-item" href="https://www.pinterest.com/pin/create/button/?url={{ .Permalink }}&description={{ .Title }}" target="_blank" title="Share on Pinterest"><span class="fa fa-pinterest fa-lg" aria-hidden="true"></span></a>
      <a class="nav-item" href="mailto:?subject=Check out this post by {{ .Params.author }}&body={{ .Permalink }}" target="_blank" title="E-mail"><span class="fa fa-envelope fa-lg" aria-hidden="true"></span></a>
    </nav>
  </section>