<aside class="col-sm-3 ml-auto blog-sidebar">

  <section class="sidebar-module">
    <p><a href="/" title="DevOps'ish"><img src="{{ .Site.BaseURL }}img/DevOpsish.png" alt="DevOps'ish" /></a></p>
    {{ partial "carbon_ads_partial" . }}
  </section>

  {{ if and (.Site.Params.sidebar) (isset .Site.Params.sidebar "about") }}
  <section class="sidebar-module sidebar-module-inset">
    {{ if .Site.Params.sidebar }}{{ partial "mc.html" . }}{{ end }}
  </section>
  {{ end }}
 
  <section class="sidebar-module">
    <p><a href="https://amzn.to/2ImDdLV" title="DevOps for Dummies by Emily Freeman"><img src="{{ .Site.BaseURL }}img/devops-for-dummies.jpg" alt="DevOps for Dummies by Emily Freeman" target="_blank" /></a></p>
    <p><a href="https://amzn.to/2LQSZ3D" title="ACCELERATE: The Science of Lean Software and DevOps: Building and Scaling High Performing Technology Organizations"><img src="{{ .Site.BaseURL }}img/accelerate.jpg" alt="ACCELERATE: The Science of Lean Software and DevOps: Building and Scaling High Performing Technology Organizations" target="_blank" /></a></p>
    <p><a href="/what-is-devops/" title="What is DevOps?"><strong>What is DevOps?</strong></a></p>
    <p><a href="https://chrisshort.net/devops-readme.md/" title="DevOps README.md" target="_blank" /><strong>DevOps README.md</strong></a></p>
  </section>

  <section class="sidebar-module">
    <h4>Social</h4>
    <p><a href="https://t.me/devopsish" title="DevOps'ish on Telegram"><span class="fa fa-telegram fa-lg"></span></a>&nbsp;
      <a href="https://www.reddit.com/r/devopsish/" title="/r/devopsish on Reddit"><span class="fa fa-reddit fa-lg"></span></a>&nbsp;
      <a href="https://twitter.com/ChrisShort" title="Chris Short on Twitter"><span class="fa fa-twitter fa-lg"></span></a>&nbsp;
      <a href="https://linkedin.com/in/thechrisshort/" title="Chris Short on LinkedIn"><span class="fa fa-linkedin fa-lg"></span></a>&nbsp;
      <a href="https://github.com/chris-short/devopsish.com" title="Chris Short on GitHub"><span class="fa fa-github fa-lg"></span></a>&nbsp;
      <a href="https://gitlab.com/chrisshort/devopsish.com" title="Chris Short on GitLab"><span class="fa fa-gitlab fa-lg"></span></a>&nbsp;
      <a href="mailto:chris@devopsish.com" title="Chris Short via E-mail"><span class="fa fa-envelope fa-lg"></span></a></p>
  </section>

  {{ if .Site.Params.sidebar }}
  {{ partialCached "recent.html" .}}

  {{ end }}

  {{ with .Site.Menus.sidebar }}
  <section class="sidebar-module">
    <h4>{{ i18n "links" }}</h4>
    <ol class="list-unstyled">
      {{ range . }}
      <li><a href="{{ .Permalink }}">{{ .Name }}</a></li>
      {{ end }}
    </ol>
  </section>
  {{ end }}
</aside><!-- /.blog-sidebar -->

{{- /* vim: set ts=2 sw=2 et: */}}