<aside class="col-sm-3 ml-auto blog-sidebar">

  <section class="sidebar-module">
    <p><a href="/" title="DevOps'ish"><img src="/img/DevOpsish.png" alt="DevOps'ish" /></a></p>
  </section>

  {{ if and (.Site.Params.sidebar) (isset .Site.Params.sidebar "about") }}
  <section class="sidebar-module sidebar-module-inset">
    {{ if .Site.Params.sidebar }}{{ partial "sib.html" . }}{{ end }}
  </section>
  {{ end }}

  <section class="sidebar-module" style="text-align:center">
    <p><a href="/what-is-devops/" title="What is DevOps?"><img src="/img/what-is-devops.jpg" alt="What is DevOps?" targer="_blank" /></a></p>
    <h3>DevOps Books</h3>
    <p><a href="https://amzn.to/33Gme2t" title="The Phoenix Project: A Novel about IT, DevOps, and Helping Your Business Win" target="_blank"><img src="/img/the-phoenix-project.jpg" alt="The Phoenix Project: A Novel about IT, DevOps, and Helping Your Business Win" /></a></p>
    <p><a href="https://amzn.to/2ImDdLV" title="DevOps for Dummies by Emily Freeman" target="_blank"><img src="/img/devops-for-dummies.jpg" alt="DevOps for Dummies by Emily Freeman" /></a></p>
    <p><a href="https://amzn.to/2LQSZ3D" title="ACCELERATE: The Science of Lean Software and DevOps: Building and Scaling High Performing Technology Organizations" target="_blank"><img src="/img/accelerate.jpg" alt="ACCELERATE: The Science of Lean Software and DevOps: Building and Scaling High Performing Technology Organizations" /></a></p>
    <p><a href="https://amzn.to/3fGMCfc" title="Beyond the Phoenix Project: The Origins and Evolution of DevOps" target="_blank"><img src="/img/beyond-the-phoenix-project.jpg" alt="Beyond the Phoenix Project: The Origins and Evolution of DevOps" /></a></p>
    <p><a href="https://amzn.to/3a8OwUA" title="The Unicorn Project" target="_blank"><img src="/img/the-unicorn-project.jpg" alt="The Unicorn Project" /></a></p>
    <p><a href="https://amzn.to/3a8OwUA" title="The DevOps Handbook: How to Create World-Class Agility, Reliability, and Security in Technology Organizations" target="_blank"><img src="/img/the-devops-handbook.jpg" alt="The DevOps Handbook: How to Create World-Class Agility, Reliability, and Security in Technology Organizations" /></a></p>
<!--    <p><a href="https://devopsreadme.xyz/" title="DevOps README: What to Read to Learn More About DevOps" target="_blank"><img src="/img/devops_readme.jpg" alt="DevOps README: What to Read to Learn More About DevOps" /></a></p> -->
    <p><a href="https://devopsreadme.xyz/" title="DevOps README: What to Read to Learn More About DevOps" target="_blank">Need more DevOps reading material? Head over to <strong>devopsreadme.xyz</strong></a></p>
  </section>
  <section class="sidebar-module">
    <h4 style="text-align:left">Praise & Partners</h4>
    <p><a href="/praise/" title="Praise for DevOps'ish" /><strong>Praise for DevOps'ish</strong></a></p>
    <p><a href="/partners/" title="Partners" /><strong>Partners</strong></a></p>
  </section>

  <section class="sidebar-module">
    <h4>Social</h4>
    <p><a href="https://t.me/devopsish" title="DevOps'ish on Telegram" target="_blank"><span class="fa fa-telegram fa-lg"></span></a>&nbsp;
      <a href="https://www.reddit.com/r/devopsish/" title="/r/devopsish on Reddit" target="_blank"><span class="fa fa-reddit fa-lg"></span></a>&nbsp;
      <a href="https://twitter.com/ChrisShort" title="Chris Short on Twitter" target="_blank"><span class="fa fa-twitter fa-lg"></span></a>&nbsp;
      <a href="https://www.linkedin.com/company/devopsish/" title="DevOps'ish on LinkedIn" target="_blank"><span class="fa fa-linkedin fa-lg"></span></a>&nbsp;
      <a href="https://github.com/chris-short/" title="Chris Short on GitHub" target="_blank"><span class="fa fa-github fa-lg"></span></a></p>
  </section>

  {{ if .Site.Params.sidebar }}
  {{ partialCached "recent.html" .}}

  {{ end }}

  {{ with .Site.Menus.sidebar }}
  <section class="sidebar-module">
    <h4>{{ i18n "links" }}</h4>
    <ol class="list-unstyled">
      {{ range . }}
      <li><a href="{{ .Permalink }}">{{ .Name }}</a></li>
      {{ end }}
    </ol>
  </section>
  {{ end }}
</aside><!-- /.blog-sidebar -->

{{- /* vim: set ts=2 sw=2 et: */}}