<hr />

<h2 id="whoami">whoami</h2>

<p>I'm <a href="https://chrisshort.net/"><strong>Chris Short</strong></a>, 20+ veteran of the IT industry and 11 year
    veteran of the US Air Force. I help people and companies embrace DevOps practices and tools through writing and
    public speaking. I am a staunch advocate for transparency and open source solutions to problems.</p>
<p>Follow me on <a href="https://twitter.com/ChrisShort">Twitter</a> and <a href="https://linkedin.com/in/thechrisshort/">LinkedIn</a>.
    Join the discussion on <a href="https://www.facebook.com/devopsish/">Facebook</a> and <a href="https://t.me/devopsish">Telegram</a>.</p>