<hr />

<h3 id="whoami">Join the Conversation</h3>

<p>Join the <a href="https://t.me/devopsish">DevOps'ish group on Telegram <span
  class="fa fa-telegram fa-sm" aria-hidden="true"></span></a> for insight and in-depth discussions about real technical challenges facing real people. If you're into Reddit, join <a href="https://www.reddit.com/r/devopsish/">/<span
  class="fa fa-reddit-alien fa-sm" aria-hidden="true"></span>/devopsish</a>. You can follow me on <a href="https://twitter.com/ChrisShort">Twitter</a> and <a href="https://linkedin.com/in/thechrisshort/">LinkedIn</a> too.</p>
