<hr />

<h3 id="whoami">whoami</h3>

<p>I'm <a href="https://chrisshort.net/"><strong>Chris Short</strong></a>, 20+ veteran of the IT industry and 11 year veteran of the US Air Force. I help people and companies embrace DevOps practices and tools through writing and public speaking. I am a staunch advocate for transparency and open source solutions to problems. Follow me on <a href="https://twitter.com/ChrisShort">Twitter</a> and <a href="https://linkedin.com/in/thechrisshort/">LinkedIn</a>.</p>

<p>Join the <a href="https://t.me/devopsish">DevOps'ish group on Telegram</a> for insight and in-depth discussions about real technical challenges facing real people. If you're into <span
  class="fa fa-reddit-alien fa-sm" aria-hidden="true"></span> Reddit, join <a href="https://www.reddit.com/r/devopsish/">/r/devopsish</a>.</p>