<hr />

<p>Every week I comb through 1000s of articles that get curated down to about 100 URLs eligible to be in <a href="https://devopsish.com">DevOps'ish</a>. Those URLs land in a notes file that end up being source material for the newsletter. Being in that group of ~100 links is an achievement and should be lauded. In the immortal words of former US Vice President Joe Biden, "<a href="https://www.youtube.com/watch?v=HHKq9tt50O8">This is a big fscking deal.</a>"</p>

<p>It's a shame when I have to choose between having too many links or someone's special thing getting featured in the newsletter. Here's another chance to shine! As always, thank you for reading! —Chris</p>

<hr />

<p>The following links and/or notes accompany the <a href="../">corresponding issue of DevOps'ish</a>.</p>