<p>Available on these fine podcast platforms:</p>
<div id="podcasts" style="display: block; padding: 0; margin: 0;">
  <div style="text-decoration: none; display: inline-block; margin: 1px; padding: 1px;">
    <a href="https://music.amazon.com/podcasts/6e17fa6c-a503-4ee1-b353-5a3cddb40068/devops'ish-podcast" title="The DevOps'ish Podcast on Amazon Music"><img src="https://shortcdn.com/devopsish/amazon_music.png" alt="The DevOps'ish Podcast on Amazon Music" width="32" height="32"></a> 
  </div>
  <div style="text-decoration: none; display: inline-block; margin: 1px; padding: 1px;">
    <a href="https://anchor.fm/devopsish" title="The DevOps'ish Podcast on Anchor.fm"><img src="https://shortcdn.com/devopsish/anchor.png" alt="The DevOps'ish Podcast on Anchor.fm" width="32" height="32"></a> 
  </div>
  <div style="text-decoration: none; display: inline-block; margin: 1px; padding: 1px;">
    <a href="https://podcasts.apple.com/us/podcast/devopsish-deep-cuts/id1472292317" title="The DevOps'ish Podcast on Apple Podcasts"><img src="https://shortcdn.com/devopsish/apple_podcasts.png" alt="The DevOps'ish Podcast on Apple Podcasts" width="32" height="32"></a> 
  </div>
  <div style="text-decoration: none; display: inline-block; margin: 1px; padding: 1px;">
    <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy9jNzFhMDUwL3BvZGNhc3QvcnNz" title="The DevOps'ish Podcast on Google Podcasts"><img src="https://shortcdn.com/devopsish/google_podcasts.png" alt="The DevOps'ish Podcast on Google Podcasts" width="32" height="32"></a> 
  </div>
  <div style="text-decoration: none; display: inline-block; margin: 1px; padding: 1px;">
    <a href="https://www.iheart.com/podcast/269-devopsish-podcast-102493375/" title="The DevOps'ish Podcast on iHeartRadio"><img src="https://shortcdn.com/devopsish/iheartradio.png" alt="The DevOps'ish Podcast on iHeartRadio" width="32" height="32"></a> 
  </div>
  <div style="text-decoration: none; display: inline-block; margin: 1px; padding: 1px;">
    <a href="https://overcast.fm/itunes1472292317/devopsish-podcast" title="The DevOps'ish Podcast on Overcast"><img src="https://shortcdn.com/devopsish/overcast.png" alt="The DevOps'ish Podcast on Overcast" width="32" height="32"></a> 
  </div>
  <div style="text-decoration: none; display: inline-block; margin: 1px; padding: 1px;">
    <a href="https://pca.st/eMm1" title="The DevOps'ish Podcast on Pocket Casts"><img src="https://shortcdn.com/devopsish/pocket_casts.png" alt="The DevOps'ish Podcast on Pocket Casts" width="32" height="32"></a> 
  </div>
  <div style="text-decoration: none; display: inline-block; margin: 1px; padding: 1px;">
    <a href="https://radiopublic.com/devopsish-podcast-G7aNrB" title="The DevOps'ish Podcast on RadioPublic"><img src="https://shortcdn.com/devopsish/radiopublic.png" alt="The DevOps'ish Podcast on RadioPublic" width="32" height="32"></a> 
  </div>
  <div style="text-decoration: none; display: inline-block; margin: 1px; padding: 1px;">
    <a href="https://open.spotify.com/show/7Hds1lX42QasHvzjV0Ae6x" title="The DevOps'ish Podcast on Spotify"><img src="https://shortcdn.com/devopsish/spotify.png" alt="The DevOps'ish Podcast on Spotify" width="32" height="32"></a>
  </div>
  <div style="text-decoration: none; display: inline-block; margin: 1px; padding: 1px;">
    <a href="https://www.stitcher.com/show/devops-ish-podcast" title="The DevOps'ish Podcast on Stitcher"><img src="https://shortcdn.com/devopsish/stitcher.png" alt="The DevOps'ish Podcast on Stitcher" width="32" height="32"></a>
  </div>
  <div style="text-decoration: none; display: inline-block; margin: 1px; padding: 1px;">
    <a href="https://anchor.fm/s/c71a050/podcast/rss" title="The DevOps'ish Podcast RSS Feed"><img src="https://shortcdn.com/devopsish/rss.png" alt="The DevOps'ish Podcast RSS Feed" width="32" height="32"></a>
  </div>
</div>

<div id="anchor" style="padding-top: 15px; padding-bottom: 15px;">
  <iframe src="https://anchor.fm/devopsish/embed" height="200px" width="500px" frameborder="0" scrolling="yes"></iframe>
</div>