<h2 id="stats">DevOps'ish Newsletter Stats</h2>

<ul>
  <li>Launched in December 2016</li>
  <li><a href="/praise/">Praised by industry leaders</a></li>
  <li>Previous sponsors include O'Reilly, Indeed, Datadog, Honeycomb, LogDNA, ThoughtWorks, WeaveWorks, and many more</li>
  <li>Subscribed Contacts: {{ .Site.Params.stats.subscribers | markdownify }}</li>
</ul>

<h3 id="privacy">A note on privacy</h3>

<p>DevOps'ish takes other's privacy <strong>very</strong> seriously. There is a conscious effort NOT to collect additional information about the DevOps'ish readership outside of an email address.</p>
<p>In general, DevOps'ish keeps as little demographic information as possible. DevOps'ish is not in the data-mining business. It's in the providing information to people business. The goal is ultimately to get data collection down to zero. Open and click rates are data I don't have or share with advertisers. DevOps'ish tries to protect its readership from all the privacy-invading hell that exists these days.</p>